@charset "UTF-8";

/* 전체영역 틀 영역 css 시작 */
body {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 80px;
  }

  #ccard{
    margin-right: 70px;
    font-size: 19px
    background-color ghostwhite;
    
    
  }


#knu-container, html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(212, 212, 212);
} 

/* 전체영역 틀 영역 css 끝 */
 
/* 컨테이너(전체 영역) css 시작 */
  #knu-container {
    width: 1400px;
    height: 1200px;
    margin-top: 500px;
    margin: 0px auto;
    padding: 10px;
    border: 1px dashed #000000;
    background-color: ghostwhite;
    /* 뷧배경 색깔 */
  }

/* 헤더 영역 (로고) css */
  #knu-header {
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
  }

/* 사이드바 영역 (메뉴바) css */  
  #knu-sidebar1 {
    width: 80px;
    padding: 20px;
    margin-right: 20px;
    position: sticky;
    
    float: left;
  }

/* 내용 메인 (피드, 랭킹) 영역 */  
  #knu-content {
    width: 920px;
    padding: -100px;
    margin-left: 159px;
    margin-right: 10px;
    float: left;
  }

/* 왼쪽 피드 영역 */ 
  #knu-content-left {
    width: 400px;
    height: 470px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 25px;
    float: left;
  }

/* 오른쪽 피드 영역 */  
  #knu-content-right {
    width: 400px;
    height: 470px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 25px;
    float: left; 
  }

/* 팔로워 탑 랭킹 이름 */
  h3 {
    margin-left: 10px;
    width: 300px;
  }

/* 랭킹 내용 영역 */
    .track-container{
        margin-left: -45px;
        margin-right: 50px;
        width: 200px;
    }
    .like, .liked{
        margin: 10px !important;
    }
    
    .photo {
        width: 35px;
        height: 35px;
    }

    span.rank {
        margin: 1px;
        margin-left: -40px;
        color: black;
    }

/* 피드 이미지 */   
  img {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}
/* 모달 팝업 창 */
  #modal > div {
    left: 750px;
    position: fixed;
}
/* 코멘트 창 위치 */
  #modal > div > div.content {
    margin-top: 800px;
    margin-left: 60px;
    position: fixed;
  }

 

/* 로고 이미지 */

  #knu-header > a > img {
    width: 100px;
    height: 100px;
}

/* 오디오 위치 */
  #audio {
    margin-left: 25px;
  }

  .content {
    top: 0px;
  }
  
  #modal > div {
    z-index: 999;
  }  

/* 랭킹 위치 */  
  #knu-content > section {
    position: absolute;
    margin-left: 900px;
  }

 /* 팝업 기본디자인 */
.popup{border: 1px solid #dcdcdc;position: fixed;width: 500px;left: 50%;top: 50%;transform: translate(-50%,-50%);padding: 10px;display: none;background: #fff}
.popup .close{background: none;border: 0;position: absolute;right: 10px;top: 10px;font-size: 20px;}
      
/* 쉐도우 효과*/
.shadow{position: fixed;left: 0;top: 0;background: rgba(0, 0, 0, 0.52);width: 100%;height: 100vh;display: none} 

/* 메뉴바 디자인(옵션) */
  .menu ::before{
    font-family: 'Material Icons';
    font-size: 2em;
    margin-left: 35px;
    
   
}
  .menu label::before{ content: '\e5d2'; }
  .menu li:nth-child(1) a::before{ content: '\e88a'; }
  .menu li:nth-child(2) a::before{ content: '\e8b6'; }
  .menu li:nth-child(3) a::before{ content: '\e853'; }
  .menu li:nth-child(4) a::before{ content: '\e3c9'; }
  .menu li:nth-child(5) a::before{ content: '\f01f'; }
  .menu li:nth-child(6) a::before{ content: '\e0bf'; }
  .menu li:nth-child(7) a::before{ content: '\e9ba'; }

  #expand-menu { /* 체크박스 폼 요소 감춤 */
    display: none;
}
  #expand-menu:checked ~ ul { /* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
    display: block;
    height: auto;
}

#expand-menu:checked ~ ul {
    display: none;
    }
    
    #expand-menu:not(:checked) ~ ul {
    display: block;
    height: auto;
    }

.menu {
    display: inline;
    color: #000000;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden; /* 반응형 애니메이션용 */
    transition: all 0.5s ease; /* 반응형 애니메이션 */
    position: absolute;
    
}
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  .menu a, .menu > label {
    display: block;
    height: 60px;
    padding: 20px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

  .menu a:hover {
    color: #000;
}
  .menu ul li:hover, .menu > label:hover {
    color: #000;
    border-radius: 10px;
}

  @media screen and (max-width:1023px) {
    .menu { 
        width: 60px;
    }
}

/* 메뉴바 디자인(옵션) 끝 */



/* 윈도우 사이즈 영역 */
  @media screen and (max-width:480px) {
    #knu-container {
      width: auto;
    }
    #knu-sidebar1 {
        float: none;
        width: auto;
      }
    #knu-content {
      float: none;
      width: auto;
    }
    #knu-sidebar2 {
      float: none;
      width: auto;
    }
  }