
body {
   background-color: #DADDE2;
   margin-top: 80px;
}

html, body {
   height: 100%;
}

.wrap {
   position: relative;
   min-height: 100%;
   padding-bottom: 100px;
}

#knu-container {
   width: 1400px;
   margin-bottom: 200px;
   margin: 0px auto;
   padding: 10px;
}

#knu-header {
   padding: 20px;
   margin-bottom: 10px;
   margin-top: 40px;
}

#knu-sidebar1 {
   width: 80px;
   padding: 20px;
   margin-right: 20px;
   float: left; /* 컨텐츠의 위치 left */
}

#knu-content {
   width: 920px;
   padding: 20px;
   margin: 50px;
   margin-left: 135px;
   margin-right: 10px;
   margin-bottom: 100px;
   float: left; /* 컨텐츠의 위치 right */
}

#knu-sidebar2 {
   width: 200px;
   margin-bottom: 20px;
   float: right; /* 컨텐츠의 위치 left */
   overflow: visible;
   position: sticky;
   top: 0dvh;
}

.scroll-area {
   width: 100%;
   max-height: 23vh;
   overflow-y: scroll;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
   scroll-behavior: smooth;
}

.scroll-area::-webkit-scrollbar {
   display: none; /* Chrome, Safari, Opera*/
}

tbody td {
   font-size: 1.5vmin;
   height: 2.5vh;
}

h3 {
   margin-left: 10px;
}
/*  */
.track-container {
   margin-left: -45px;
   margin-right: 50px;
   width: 200px;
}

.like, .liked {
   margin: 10px !important;
}

/*  */
.photo {
   width: 35px;
   height: 35px;
}

span.rank {
   margin: 1px;
   margin-left: -40px;
   color: black;
}

#knu-footer {
   clear: both;
   height: 100px;
   padding: 20px;
   text-align: center;
   bottom: 0;
}

img {
   width: 50px;
   height: 50px;
   display: block;
   margin: auto;
}

#audio {
   margin-left: 25px;
}

.menu ::before {
   font-family: 'Material Icons';
   font-size: 2em;
   margin-left: 35px;
}

.menu label::before {
   content: '\e5d2';
}

.menu li:nth-child(1) a::before {
   content: '\e88a';
}

.menu li:nth-child(2) a::before {
   content: '\e8b6';
}

.menu li:nth-child(3) a::before {
   content: '\e853';
}

.menu li:nth-child(4) a::before {
   content: '\f02e';
}

.menu li:nth-child(5) a::before {
   content: '\e3c9';
}

.menu li:nth-child(6) a::before {
   content: '\e0bf';
}

.menu li:nth-child(7) a::before {
   content: '\e9ba';
}

#expand-menu { /* 체크박스 폼 요소 감춤 */
   display: none;
}

#expand-menu:checked ~ ul { /* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
   display: block;
   height: auto;
}

#expand-menu:checked ~ ul {
   display: none;
}

#expand-menu:not(:checked) ~ ul {
   display: block;
   height: auto;
}

.menu {
   display: inline;
   color: #000000;
   border-radius: 10px;
   box-sizing: border-box;
   overflow: hidden; /* 반응형 애니메이션용 */
   transition: all 0.5s ease; /* 반응형 애니메이션 */
   position: absolute;
}

.menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.menu a, .menu>label {
   display: block;
   height: 60px;
   padding: 20px;
   cursor: pointer;
   color: #000000;
   text-decoration: none;
}

.menu a:hover {
   color: #000;
}

.menu ul li:hover, .menu>label:hover {
   color: #000;
   border-radius: 10px;
}

@media screen and (max-width:1023px) {
   .menu { /* 1단계 */
      width: 60px;
   }
}
/* 사이즈 정의 */
@media screen and (max-width:480px) {
   #knu-container {
      width: auto;
   }
   #knu-sidebar1 {
      float: none;
      width: auto;
   }
   #knu-content {
      float: none;
      width: auto;
   }
   #knu-sidebar2 {
      float: none;
      width: auto;
   }
}

.titleimg {
   width: 120px;
   height: 120px;
   display: block;
   margin: auto;
}

#ccard {
   width: 500px;
   height: 500px;
   border-radius: 8px;
   overflow: hidden;
   margin: 50px auto;
   transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
}

#ccard * {
   padding: 10px;
}

#ccard .card {
   background-color:#DADDE2;
   
   text-align: center;
   border: solid 6px #43655A;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h5 {
   margin: 0px;
   font-family: 'IAMAPLAYER';
}

#button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: var(--button-bg-color);
   color: var(--button-color);
   margin: 0;
   padding: 0.5rem 1rem;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 10px;
   display: inline-block;
   width: auto;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition: 0.5s;
   font-size: 15px;
   font-family: 'IAMAPLAYER';
}

@font-face {
   font-family: 'IAMAPLAYER';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2')
      format('woff2');
   font-weight: normal;
   font-style: normal;
}