<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.sns_MusicDAO">

	<insert id="write" parameterType="com.smhrd.entity.sns_musicDTO">
		insert into TB_MUSIC
		(musicSeq,
		musicTitle, musicPhoto, userId, musicDate, musicLikes, musicFile
		)values(
		tb_music_seq.nextval, #{musicTitle}, #{musicPhoto}, #{userId},
		sysdate, 0, #{musicFile})
	</insert>

	<select id="searchTitle"
		resultType="com.smhrd.entity.sns_musicDTO">
		select * from TB_MUSIC
		where
		musicTitle like
		'%'||#{search}||'%'
	</select>

	<select id="post" resultType="com.smhrd.entity.sns_musicDTO">
		select * from TB_MUSIC
	</select>

	<select id="viewMusic" resultType="com.smhrd.entity.sns_musicDTO">
		select * from TB_MUSIC
		where
		musicTitle=#{titlex}
	</select>
	
	<select id="loadMusic" resultType="com.smhrd.entity.sns_musicDTO">
		select * from TB_MUSIC
		where userId=#{id}
	</select>







</mapper>