<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.sns_UserDAO">

	<insert id="join" parameterType="com.smhrd.entity.sns_userDTO">
		insert into TB_USER(USERID,
		USERPW, USERNAME,USERTEL,USEREMAIL,USERDATE,USERPhoto)
		values(
		#{userId},
		#{userPw},
		#{userName},
		#{userTel},
		#{userEmail},
		sysdate,
		#{userPhoto}
		)
	</insert>

	<select id="login" parameterType="com.smhrd.entity.sns_userDTO"
		resultType="com.smhrd.entity.sns_userDTO">
		select * from TB_USER
		where userId = #{userId}
		and userPw =
		#{userPw}
	</select>

	<select id="check" resultType="com.smhrd.entity.sns_userDTO">
		select * from TB_USER
		where
		userId =
		#{userId}
	</select>

	<select id="searchId" resultType="com.smhrd.entity.sns_userDTO">
		select * from TB_USER
		where
		userId like '%'||#{search}||'%'
	</select>
	
	<select id="viewUser" resultType="com.smhrd.entity.sns_userDTO">
		select * from TB_USER
		where
		userId=#{idx}
	</select>
	
	<update id="updateUser" parameterType="com.smhrd.entity.sns_userDTO">
		update tb_user
		set userPw = #{userPw},
		userPhoto = #{userPhoto}
		where userId = #{userId}
	</update>
	

</mapper>