<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.sns_LikesDAO">

	<select id="count" parameterType="com.smhrd.entity.sns_likesDTO" resultType="int">
		select count(*) from TB_LIKES
		where
		musicSeq = #{musicSeq}
	</select>



</mapper>